/* Styles pour les écrans mobiles (small devices) */
body {
    font-size: 14px;
  }
.first_container a{
  float: right;
}
.first_container a i{
    color: #1270B0; font-size: 2rem; 
  }
  .first_container form input {
    border: solid #D2B48C;
     border-radius: 0.5rem ;
     font-weight: 500; 
     font-size: 1rem;
}
.first_container form input:hover{
  background-color: #1270B0;
  border: none;
  color: #fff;
}
  
.first_container form button{
  border-radius: 0.5rem ;
  font-weight: 500; 
  font-size: 1rem;
  background-color: #1270B0;
  color: #fff;
}
.first_container form button:hover{
  background-color: #D2B48C;
  color: #fff;
}
.second a:hover{
 background-color: #D2B48C;
}
.couvre-menu{
  display: none;}
  .first_container .desc{
display: none;
  }
  .first_container .desc p{
    display: none;
  }
  .first_container .desc img {
    display: none;
  }
  @media (min-width: 768px) {
    /* Styles pour les écrans plus larges (tablettes et desktop) */
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 80rem) {
    /* Styles pour les grands écrans (desktop) */
    body {
      font-size: 18px;
    }
    .first_container{
     display: flex;
     justify-content:space-around ;
   
    }
    .first_container .desc{
      width: 50%;
      background-color: #D2B48C ;
      border-radius: 1rem;
    }
    .first_container .desc p{
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center;
      margin: 00 auto;
    }
    .first_container a{
     display: none;
    }
    .couvre-menu{
      display: block;
      margin: 2rem;
  }
  .menu{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin:00  auto ;
      width: 80%;
      height: 4rem;
      background-color: #D2B48C;
      border-radius: 1rem;

  }
 .menu a{
  color: rgb(70, 42, 4);
      text-decoration: none; 
      font-weight: bold;
      font-size: 1.5rem;
  }

  }